@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$Font: "Roboto", "sans-serif";

* {
  margin: 0;
  padding: 0;
  font-family: $Font;
}

html,
body {
  scroll-behavior: smooth;
}

.app {
  background-color: #111;
}
